// Define variables for your color scheme

// For example:
$red: #f44336;
$blue: #0D6EFD;
$yellow: #ffc107;
$orange: #E67E22;
$green: #4caf50;
$gray: #0E0000;
$light-gray: #F4F4F4;
$background-color: #f5f5f5;
$text-color: #333;

// Define global scss variables to make them accessible in javascript
:root {
  --green: #4caf50;
  --yellow: #ffc107;
}
