// Define variables for your color scheme

// Primary Colors:
$red: #f44336;
$blue: #0D6EFD;
$blue-light: #61c3f5;
$yellow: #ffc107;
$orange: #E67E22;
$green: #4caf50;
$cian: #00FFFF;
$turquoise: #22f19e;
$purple: #934caf;
$brown:  #61440b;
$pink: #f16cce;
$teal: #17a2b8;
$magenta: #8c1946;
$gray: #706e6e;
$black: #010101;



// Pallete Colors: -> TBU

// Icon colors
$icon-gray: #555;

// Text colors
$text-black: #333;
$text-gray: #8c8c8c;

// Background Color
$background-color: #f5f5f5;
$light-gray: #FBFBFB;


// Define global scss variables to make them accessible in javascript
:root {
  --green: #4caf50;
  --yellow: #ffc107;
  --text-gray: #8c8c8c;
  --blue: #81B0EF
}
