// Flexbox properties utilities
.u-flex {
  display: flex;
}

.u-flex--row {
  flex-direction: row;
}

.u-flex--column{
  flex-direction: column;
}

.u-flex--justifyBetween {
  justify-content: space-between; // child elements are evenly spaced across the main axis.
}

.u-flex--justifyStart {
  justify-content: flex-start; // Aligns all child elements to the start of the main axis.
}

.u-flex--justifyEvenly {
  justify-content: space-evenly; // child elements are evenly spaced across the main axis.
}

.u-flex--alignCenter {
  align-items: center; // Child elements are centered on the cross-axis direction
}

.u-flex--alignStart {
  align-items: start; // Child elements are centered on the cross-axis direction
}

.u-flex--wrap {
  flex-wrap: wrap; // Allows wrap inside flexbox
}

// Parent - Child Relationship
// A width utility that sets an element’s width to 100% of its parent container
.u-child--w100 {
  width: 100%
}


/* ===== Text Alignment ===== */
.u-textAlign--right {
  text-align: right;
}

.u-textAlign--center {
  text-align: center;
}

.u-textAlign--justify{
  text-align: justify;
}

// Adjust content to start below the Nav bar
.has-navbar-top {
  padding-top: 3rem;
}

// Adjust content to finish above the Navbar
.has-navbar-bottom {
  padding-bottom: 3rem;
}

@media (min-width: 768px) {

  // Adjust content to start below the Navbar on larger screens
  .has-navbar-top {
    padding-top: 6rem;
  }

  // Adjust content to finish above the Navbar on larger screens
  .has-navbar-bottom {
    padding-bottom: 6rem;
  }
}


/* ===== Block Elements ===== */
.u-block--inline {
  display: inline-block;
}


// ===== Bootstrap utility classes =====
// class = "container"
// class = "row justify-content-center">
// class = "col-12 col-lg-9"
