.u-fontSize--primary {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  // font-size: 1.1rem;
}

.u-fontSize--secondary {
  font-size: clamp(0.65rem, 1.5vw, 0.75rem);
  // font-size: 0.9rem;
}

.u-fontSize--terciary {
  font-size: clamp(0.5rem, 1.5vw, 0.65rem);
  // font-size: 0.7rem;
}
