.u-linkStdDisable{
  text-decoration: none;
  color: inherit;
}

.u-background--lightGray {
  background: $light-gray
}

.u-textColor--gray{
  color: $gray;
}

.u-statusIndicator--title{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.3rem;
}

