<nav class="NavbarBottom">
  <div class="NavbarBottom-nav u-child--w100 u-flex u-flex--row u-flex--justifyEvenly">
    <a class="NavbarBottom-item NavbarBottom-link u-textAlign--center" href="#">
      <i class="fas fa-home fa-lg"></i><br />
      Home
    </a>
    <a class="NavbarBottom-item NavbarBottom-link u-textAlign--center" href="#">
      <i class="fas fa-user fa-lg"></i><br />
      Profile
    </a>
    <a class="NavbarBottom-item NavbarBottom-link u-textAlign--center" href="#">
      <i class="fas fa-envelope fa-lg"></i><br />
      Messages
    </a>
    <a class="NavbarBottom-item NavbarBottom-link u-textAlign--center" href="#">
      <i class="fas fa-cog fa-lg"></i><br />
      Settings
    </a>
  </div>
</nav>
