<div class="NavbarTop fixed-top">
  <p class="NavbarTop-title"> <%= locals[:human].name %> </p>
  <button type="button" class="NavbarTop-menuButton">
    <i class="fas fa-bars fa-lg"></i>
  </button>
</div>
