<div class="NavbarTop fixed-top">
  <p class="NavbarTop-title u-textColor--blueBrandNight"> <%= locals[:human].name %> </p>
  <button type="button" class="NavbarTop-menuButton">
    <i class="fas fa-bars fa-lg u-iconColor--blueBrandNight"></i>
  </button>
</div>
