<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <!-- Back button -->
      <div data-controller='refresh-list'>
        <div class="FixedHeader pb-4">
          <%= render 'shared/back_button_top', path_helper: human_path(@human.id) %>
          <!-- Search bar -->
              <div class="SearchBar u-child--w100">
                <%= form_with url: human_imaging_reports_path(@human), method: :get, html: { class: 'SearchBar-form', data: { refresh_list_target: 'form' } } do |f| %>
                  <div class="SearchBar-inputWrapper">
                    <%= f.text_field :query,
                                      class: "SearchBar-input",
                                      placeholder:'Parte corporal, exame ou laudo',
                                      value: params[:query],
                                      data: {
                                            refresh_list_target:'searchInput',
                                            action: "keyup->refresh-list#update"
                                      }
                    %>
                    <span class="SearchBar-icon">
                      <i class="fa fa-search SearchBar-iconElement"></i>
                    </span>
                  </div>
                <% end %>
              </div>
        </div>
        <!-- Biomarkers list -->
        <%= render partial: render_imaging_reports_partial(@imaging_reports), locals: { imaging_reports: @imaging_reports } %>
      </div>
    </div>
  </div>
</div>
