<h1> <%= " #{@imaging_report[:imaging_method]} #{@imaging_report[:title[0]]} #{@imaging_report[:title[1]]}"%> </h1>
<h3> Sitema: <span class="Label Label-type1"> Muscoesquelético </span> </h3>
<h3> Data: 2025-01-02 </h3>
<p> Test </p>
<%=  %>
