<div class="art-message-wrapper text-center">
  <i class="fa fa-database icon-art" aria-hidden="true"></i>
  <h2><%= @no_data_message %></h2>
  <p>Start your journey by uploading your first data.</p>
  <a href="https://wa.me/yourwhatsappnumber" class="btn btn-primary">
    <i class="fa fa-whatsapp"></i> Contact Us on WhatsApp
  </a>
</div>
