<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <!-- This div is centered and takes 9 columns -->
      <h1 class="text-center"> PRODUTO EM VALIDAÇÃO </h1>
      <p class="text-center"> Acesse apenas as URLs disponibilizadas pelo nosso time</p>
    </div>
  </div>
</div>
