<div class="u-textAlign--center mt-4 mb-4 p-5">
  <i class="fa fa-magnifying-glass-chart mb-5 u-iconColor--blueBrandSecondary" aria-hidden="true"></i>
  <p>Você ainda não nos enviou nenhum exame.</p>
  <p> Envie o PDF ou foto dos seus exames através do nosso perfil no WhatsApp. </p>
  <a href="https://wa.me/5511920472765" class="RetangularButtonKey u-block--inline u-background--greenWhatsapp u-textColor--white u-fontFamily--outbound mt-3">
    <i class="fa-brands fa-whatsapp"></i> Abrir WhatsApp
  </a>
</div>
