<div data-refresh-list-target='list'>
  <% @biomarkers.each do |biomarker| %>
    <!-- Result Card -->
    <% biomarker[:unit_value_type] %>
      <%= render "shared/result_card", result_card_attributes(@human, biomarker)%>
  <% end %>
</div>
