<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <!-- Back button -->
      <div data-controller='refresh-list'>
        <div class="FixedHeader pb-4">
          <%= render 'shared/back_button_top', path_helper: human_path(@human.id) %>
          <!-- Search bar -->
          <%= render 'search_form', search_url: @search_url %>
        </div>
        <!-- Biomarkers list -->
        <div data-refresh-list-target='list'>
          <% @biomarkers.each do |biomarker| %>
            <!-- Result Card -->
              <%= render "shared/result_card", locals: result_card_attributes(@human, biomarker) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
