<% content_for :navbar do %>
  <%= render 'shared/navbar', locals: {human: @human} %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <!-- Search bar -->
      <div data-controller='refresh-list'>
        <div class="SearchBar-container">
            <%= form_with url: search_human_biomarkers_path(@human), method: :get, html: { class: 'SearchBar-form', data: { refresh_list_target: 'form' } } do |f| %>
              <div class="SearchBar-inputWrapper">
                <%= f.text_field :query,
                                  class: "SearchBar-input",
                                  placeholder:"Digite um biomarcador",
                                  value: params[:query],
                                  data: {
                                        refresh_list_target:'searchInput',
                                        action: "keyup->refresh-list#update"
                                  }
                %>
                <span class="SearchBar-icon">
                  <i class="fa fa-search SearchBar-iconElement"></i>
                </span>
              </div>
            <% end %>
        </div>

        <!-- Biomarkers list -->
        <div data-refresh-list-target='list'>
          <% @biomarkers.each do |biomarker| %>
            <!-- Result Card -->
            <% biomarker[:unit_value_type] %>
              <%= render "shared/result_card", locals: result_card_attributes(@human, biomarker) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
