.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 0.5rem;
}

.navbar-lewagon .navbar-brand img {
  width: 10rem;
}

.nav-item.dropdown .dropdown-toggle {
  cursor: pointer;
}

// Push the content down in all the pages where we have a navbar
body {
  padding-top: 3rem;
}

// Adjusting NavBar Width for Mobile devices / Breakpoint: 768px
@media (max-width: 768px) {
  .navbar-lewagon .navbar-brand img {
    width: 5rem;
  }
  body {
    padding-top: 0.7rem;
  }
}
