.NavigationCircleButton {
  display: flex;
  width: 3.25rem;
  height: 3.25rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.25rem;
  background: #FFFFFF;
  margin: 0rem 0 2rem 0.1rem;

  // Two level blur: main and secondary
  // Both have only vertical shift. Main shadow has a very soft, spread-out shadow. And Secondary has a smaller and sharper shadow but barely visible.
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1), // Main shadow
              0px 4px 10px rgba(0, 0, 0, 0.05); // Secondary shadow
  transform: translateY(-2px);

  // Transition makes the effect (to hover state) smooth and natural instead of happening instantly.
  // all → Applies the transition to all properties (shadow + transform). We can select a specif property if we want.
  // 0.2s → The effect takes 0.2 seconds (fast but visible).
  // ease-in-out → The animation starts slow, speeds up, and slows down again at the end.
  transition: all 0.2s ease-in-out; //
}

.NavigationCircleButton:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15),
  0px 6px 12px rgba(0, 0, 0, 0.1);

  // This property moves the button upwards by 2 pixels when hovered => pressable, floating effect
  transform: translateY(-2px);

}

.NavigationCircleButton-icon {
  width: 120%; /* Takes the full width of the button */
  height: auto; /* Maintains aspect ratio */
}

// Media Query for screens smaller than 600px
@media (max-width: 600px) {
  .NavigationCircleButton {
    width: 2.7rem; /* Smaller width */
    height: 2.7rem; /* Smaller height */
    padding: 0.5rem; /* Smaller padding */
    border-radius: 3rem; /* Adjusted to keep the circular shape */
  }


}
