.card-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // It also applies to the p and span elements inside the .card-justify
  p{
    //padding: 0rem;
    margin: 0rem;
    //font-size:0.8rem;
  }
  span{
    margin-left: 0.3rem;
  }
}

.elements-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p{
    padding: 0rem;
    margin: 0rem;
  }

  h5{
    padding: 0rem;
    margin: 0rem;
  }
  span{
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
}

.flexbox-left-center {
  display: flex; /* Turning div into a flexbox container */
  flex-wrap: nowrap; /* Ensure items stay on the same line */
  gap: 0.5rem; /* Small gap between labels */
  align-items: center; /* Centers items vertically */

  // border: 1px solid red;
}

.label {
  display: flex; /* Ensures proper alignment */
  align-items: center;
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem;
  font-weight: normal;
  border-radius: 12px;
  color: white;
  text-align: center;
  white-space: nowrap; /* Prevents multi-line wrapping */

  // border: 1px solid blue;
}

.label-type-1 { background-color: $teal; }
.label-type-2 { background-color: $green; }
.label-type-3 { background-color: $cian; }
.label-type-4 { background-color: $yellow; }
.label-type-5 { background-color: $blue }
.label-type-6 { background-color: $purple; }
.label-type-7 { background-color: $pink; }
.label-type-8 { background-color: $turquoise; }
.label-type-9 { background-color: $blue-light; }
.label-type-10 { background-color: $brown; }
.label-type-11 { background-color: $orange; }
.label-default { background-color: $magenta }

.card-justify.border-bottom.ps-3:hover {
  transform: translateY(2px); /* Moves the button down by 2px */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow to make it look pressed */
  background-color: var(--Primary, #F5F5F5); /* Optional background color change */
}

.card-item-center {
  flex-grow: 1;
  padding: 1rem;
  min-width: auto; /* Enables shrinking and wrapping for long names */
  white-space: normal; /* Allows text wrapping */
}

.flexbox-text-right{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  flex-shrink: 0; /* Prevents shrinking */
  //min-width: 100px; /* Ensures a minimum width */
  white-space: nowrap; /* Prevents wrapping for value, unit, and date */

}

// "&" represents the parent selector.
.status-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.3rem;

  &.green {
    background-color: $green;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.red {
    background-color: $red;
  }
}

// "&" represents the parent selector.
.status-big {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.3rem;

  &.green {
    background-color: $green;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.red {
    background-color: $red;
  }
}

.card-justify.border-bottom.ps-3 i{
  font-size: 2.5em;
}

// Adjusting font size for mobile devices
@media (max-width: 768px) {
  .card-item-center p.fs-6,
  .card-justify p.fs-6 {
    font-size: 0.9rem !important;
    line-height: 1 !important;
  }
  .card-justify.border-bottom.ps-3 .fa-chart-line {
    font-size: 2em; /* Adjust the size as needed */
  }
}
