.SearchBar-container {
  position: sticky;
  top: 4rem; /* Adjust this value according to your navbar height */
  z-index: 1020; /* Ensures it stays above other elements */ /* Match your page background */
  padding: 1rem 0;
  background: $light-gray;
}

/* Element: Input Wrapper */
.SearchBar-inputWrapper {
  @extend .position-relative; /* Allows absolute positioning of children */
}

/* Element: Input */
.SearchBar-input {
  @extend .form-control; /* Bootstrap input field styling */
  @extend .rounded-pill; /* Makes the input field fully rounded */
  @extend .ps-3; /* Adds left padding (1rem) */
  @extend .pe-5; /* Adds right padding (to prevent text from overlapping icon) */
  width: 100%; /* Ensures full-width input */
  text-transform: scale(0.8); // Shrink input text "cheating" the browser
}

// Style only the pseudo element ::placeholder
.SearchBar-input::placeholder {
  transform: scale(0.8); /* Shrinks placeholder text */
  transform-origin: left center;
  display: inline-block; /* Ensures proper scaling */
}


/* Element: Icon Container */
.SearchBar-icon {
  @extend .position-absolute; /* Positions element absolutely within parent */
  @extend .top-50; /* Moves element to 50% of the parent's height */
  @extend .end-0; /* Aligns element to the far right (right: 0) of the nearest positioned ancestor*/
  @extend .translate-middle-y; /* Centers vertically using transform. It shifts the element up by 50% of its own height,*/
  @extend .pe-3; /* Adds right padding to avoid overlap */
  cursor: pointer; /* Makes the icon clickable */
}
