/* Optional styling for the search bar to look better in the navbar */
.navbar-lewagon .form-control {
  border-radius: 0.25rem; /* Adjust the border-radius if needed */
}

.navbar-lewagon .btn {
  margin-left: 0.5rem; /* Adds some space between the input and the button */
}

.search-bar {
  background-color: #F5F5F5;
}

.search-bar .form-control {
  border-radius: 0.25rem;
}

.search-bar .btn {
  margin-left: 0.5rem;
}
