<% value = locals[:value] %>
<% unit_name = locals[:unit_name] %>
<% status_color_code = locals[:status_color_code] %>
<% status_text = locals[:status_text]%>


<p class="u-textMargin--noMargin">
  Última Medição: <%= value %>
  <%= unit_name %>
</p>
<span class="u-statusIndicator--title is-status--<%= status_color_code %> ms-3 me-1"> </span>
<p class="u-textMargin--noMargin"> <%= status_text %> </p>
