<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-12 col-lg-9">
       <!-- Back button -->
      <%= link_to human_biomarkers_path(@human.id), class: "CircleButtonNavigation" do %>
        <i class="CircleButtonNavigation-icon fa-solid fa-arrow-left u-iconSize--lg"></i>
      <% end %>

      <!-- Biomarker name -->
      <h2> <%= @measure_data[:last_measure_attributes][:biomarker_title] %> </h2>

      <div>
        <%= view_type(@measure_data)%>
      </div>

    </div>
  </div>
</div>
