<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-12 col-lg-9">
       <!-- Back button -->
      <%= link_to human_biomarkers_path(@human.id) do %>
        <div class="NavigationCircleButton">
          <%= image_tag "arrow-left.svg", class: "NavigationCircleButton-icon"%>
        </div>
      <% end %>

      <!-- Biomarker name -->
      <h2> <%= @measure_data[:last_measure_attributes][:biomarker_title] %> </h2>

      <div>
        <%= view_type(@measure_data)%>
      </div>

    </div>
  </div>
</div>
