<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-12 col-lg-9">
       <!-- Back button -->
      <%= render 'shared/back_button_top', path_helper: return_path_for_measure(@measure_data[:last_measure_attributes][:source_type], @human) %>

      <!-- Biomarker name -->
      <h2> <%= @measure_data[:last_measure_attributes][:biomarker_title] %> </h2>

      <div>
        <%= view_type(@measure_data)%>
      </div>

    </div>
  </div>
</div>
